<div class="box" *ngIf="!leavestatusArr">
    <h1 class="text-danger">No Leave Request Available</h1>
    <button mat-raised-button  (click)="OpenDialogBox()">+add leave</button>     
</div>
<div class="row" *ngIf="leavestatusArr">
  <button mat-raised-button  (click)="OpenDialogBox()">+add leave</button>     
    <div class="col-sm-3 leave-count text-center">
        <!-- {{staffLeavearray.length}} -->
        <h1>{{TotalLeave}}</h1>
        <h2>Total Leaves</h2>
    </div>
    <div class="col-sm-3 leave-count text-center">
        <h1>{{totalApproved}}</h1>
        <h2>Approved</h2>
    </div>
    <div class="col-sm-3 leave-count text-center">
        <h1>{{totalRejected}}</h1>
        <h2>Rejected</h2>
    </div>
</div>
<div class="row staffForm" *ngIf="leavestatusArr">
    <div class="col-sm-6" *ngFor="let obj of leavestatusArr">
        <mat-card class="mb-4">
            <p>Leave for {{obj.startDate | date}}</p>
            <p>Number Of Days {{obj.totalLeavedays}}</p>
            <div class="reas">
                <h2>Reason:-</h2>
                <span class="mt-2 mx-2"> {{obj.reason}}</span>
            </div>
            <div class="reas">
                <h2>Status:-</h2>
                <span class="mt-2 mx-2">{{obj.status}}</span>
            </div>
        </mat-card>
    </div>

</div>
