
<div class="leave">  
    <form [formGroup]="leaveform" (ngSubmit)="onleave()">
        <h2 class="text-center">Staff Leave Details</h2>
        <mat-card class="example-card">
            <!-- <mat-card-header>
                <mat-card-title>Leave Details</mat-card-title>
            </mat-card-header> -->
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field color="accent">
                        <mat-label>From</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="startdate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <ng-container>

                    </ng-container>
                </div>
                <div class="col-sm-6">
                    <mat-form-field color="accent">
                        <mat-label>To</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="enddate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="textarea">
                <mat-label>Reason</mat-label>
                <textarea matInput formControlName="reason"></textarea>
              </mat-form-field>
              <ng-container *ngIf="allformcontrol['reason'].invalid && allformcontrol['reason'].touched">
                <mat-error *ngIf="allformcontrol['reason'].hasError('required')">
                    Reason is Required
                </mat-error>
              </ng-container>
              <mat-card-actions align="start">
                <button  mat-raised-button color="primary" (click)="closedDialog()">Submit</button>
                <button mat-raised-button color="warn" matDialogClose>Close</button>
              </mat-card-actions>
        </mat-card>
    </form>
   
</div>
